# Web scrapping

In [1]:
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)
url="https://www.olx.in/"
driver.get(url)#enter to olx.in through chrome browser

In [3]:
driver.find_element_by_xpath("//a[@class='_2fitb']").click()#click on car to see results of used cars

In [7]:
for i in range(20):
    try:
        driver.execute_script("window.scrollBy(0,20000)")
        time.sleep(3)
        driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
        time.sleep(3)
    except NoSuchElementException as e:
        print(e)
        break

Message: no such element: Unable to locate element: {"method":"xpath","selector":"//button[@class='rui-39-wj rui-3evoE rui-1JPTg']"}
  (Session info: chrome=92.0.4515.131)

In [8]:
urls=[]
for i in driver.find_elements_by_xpath("//li[@class='EIR5N']/a"):
    urls.append(i.get_attribute("href"))

In [9]:
len(urls)

500

In [12]:
brand=[]
model=[]
variant=[]
year=[]
fuel=[]
transmission=[]
km=[]
owners=[]
location=[]
price=[]

In [13]:
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        brand.append(driver.find_element_by_xpath("").text)
    except NoSuchElementException:
        brand.append('-')
    try:
        model.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException:
        model.append('-')
    try:
        variant.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException:
        variant.append('-')
    try:
        year.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException:
        year.append('-')
    try:
        fuel.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException:
        fuel.append('-')
    try:
        transmission.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException:
        transmission.append('-')
    try:
        km.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException:
        km.append('-')
    try:
        owners.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException:
        owners.append('-')
    try:
        location.append(driver.find_element_by_xpath("//span[@class='_2FRXm']").text)
    except NoSuchElementException:
        location.append('-')
    try:
        price.append(driver.find_element_by_xpath("//span[@class='_2xKfz']").text)
    except NoSuchElementException:
        price.append('-')

In [14]:
df=pd.DataFrame({})
df['Brand']=brand
df['model']=model
df['variant']=variant
df['year']=year
df['fuel']=fuel
df['transmission']=transmission
df['km driven']=km
df['No of owners']=owners
df['location']=location
df['price']=price
df

,Brand,model,variant,year,fuel,transmission,km driven,No of owners,location,price
0,BMW,5 Series,523i,2010,Petrol,Automatic,"69,000 km",2nd,"Thane West, Thane, Maharashtra","₹ 10,25,000"
1,Hyundai,Elite i20,Asta 1.2,2016,Petrol,Manual,"27,884 km",-,"Baner Road, Pune, Maharashtra","₹ 6,40,000"
2,Renault,KWID,RXL,2016,Petrol,Manual,"21,000 km",1st,"Thillai Nagar, Tiruchirappalli, Tamil Nadu","₹ 3,00,000"
3,Maruti Suzuki,Wagon R 1.0,1.0 LXi,2014,Petrol,Manual,"8,350 km",1st,"Govind Nagar, Nashik, Maharashtra","₹ 3,80,000"
4,Mercedes-Benz,B Class,B180 Sport,2014,Petrol,Automatic,"35,000 km",2nd,"Adajan, Surat, Gujarat","₹ 12,50,000"
...,...,...,...,...,...,...,...,...,...,...
495,Maruti Suzuki,Alto 800,LXI,2014,Petrol,Manual,"53,000 km",2nd,"Vivek Vihar Phase 2, Delhi, Delhi","₹ 2,10,000"
496,Ford,Figo,2010-2012 Diesel ZXI,2010,Diesel,Manual,"41,000 km",1st,"Chembur, Mumbai, Maharashtra","₹ 2,25,000"
497,Maruti Suzuki,Wagon R,VXI Opt,2013,Petrol,Manual,"75,000 km",1st,"Ernad, Manjeri, Kerala","₹ 3,35,000"
498,Maruti Suzuki,Baleno,1.2 Delta,2020,Petrol,Manual,"3,300 km",1st,"New Gurgaon, Gurgaon, Haryana","₹ 6,25,000"
499,Toyota,Innova,2.5 G (Diesel) 7 Seater,2010,Diesel,Manual,"186,000 km",2nd,"Kandivali West, Mumbai, Maharashtra","₹ 4,99,000"

In [15]:
df.to_csv("olx.csv")

In [3]:
driver.get("https://www.cardekho.com/")#enter into cardekho.com for scrapping

In [6]:
# car search for ahmedabad
driver.get(driver.find_element_by_xpath("//nav[@class='gsc_col-sm-12 gsc_col-md-12']/ul/li[2]/ul/li/ul/li/a").get_attribute("href"))

In [30]:
for i in range(500):
    driver.execute_script("window.scrollBy(0,80)")
    time.sleep(1)

In [31]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a"):
    urls.append(i.get_attribute("href"))

In [32]:
len(urls)

140

In [33]:
brand=[]
model=[]
variant=[]
year=[]
fuel=[]
transmission=[]
km=[]
owners=[]
location=[]
price=[]

In [34]:
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        brand.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/h1").text)
    except NoSuchElementException:
        brand.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except:
        brand.append('-')
    try:
        model.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/h1").text)
    except NoSuchElementException:
        model.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except:
        model.append('-')
    try:
        variant.append(driver.find_element_by_xpath("//div[@class='variant-name']").text)
    except NoSuchElementException:
        variant.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except:
        variant.append('-')
    try:
        year.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[1]/div/div[2]").text)
    except NoSuchElementException:
        year.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[1]").text)
    except:
        year.append('-')
    try:
        fuel.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[3]/div/div[2]").text)
    except NoSuchElementException:
        fuel.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[5]").text)
    except:
        fuel.append('-')
    try:
        transmission.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[8]/div/div[2]").text)
    except NoSuchElementException:
        transmission.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[6]").text)
    except:
        transmission.append('-')
    try:
        km.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[4]/div/div[2]").text)
    except NoSuchElementException:
        km.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[3]").text)
    except:
        km.append('-')
    try:
        owners.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[6]/div/div[2]").text)
    except NoSuchElementException:
        owners.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[4]").text)
    except:
        owners.append('-')
        
    location.append("ahmedabad")
    try:
        price.append(driver.find_element_by_xpath("//div[@class='priceSection']").text)
    except NoSuchElementException:
        price.append(driver.find_element_by_xpath("//span[@class='amount']").text)
    except:
        price.append('-')

In [35]:
df=pd.DataFrame({})
df['Brand']=brand
df['model']=model
df['variant']=variant
df['year']=year
df['fuel']=fuel
df['transmission']=transmission
df['km driven']=km
df['No of owners']=owners
df['location']=location
df['price']=price
df

,Brand,model,variant,year,fuel,transmission,km driven,No of owners,location,price
0,2016 Maruti Eeco,2016 Maruti Eeco,5 Seater AC BSIV,2016,Petrol,Manual,"45,347 Kms",1st Owner,ahmedabad,"₹ 3,74,500"
1,2020 Maruti Eeco,2020 Maruti Eeco,5 Seater AC,2020,Petrol,Manual,"17,116 Kms",1st Owner,ahmedabad,"₹ 4,74,500"
2,2020 Maruti Swift Dzire,2020 Maruti Swift Dzire,VXI 1.2,2019,Petrol,Manual,"11,935 Kms",1st Owner,ahmedabad,"₹ 6,91,000"
3,2014 Maruti Wagon R,2014 Maruti Wagon R,VXI,2014,Petrol,Manual,"131,125 Kms",1st Owner,ahmedabad,"₹ 3,09,500"
4,2014 Maruti Wagon R,2014 Maruti Wagon R,VXI,2014,Petrol,Manual,"42,381 Kms",1st Owner,ahmedabad,"₹ 3,61,000"
...,...,...,...,...,...,...,...,...,...,...
135,2017Maruti Wagon R VXI Optional,2017Maruti Wagon R VXI Optional,2017Maruti Wagon R VXI Optional,2017,Petrol,Manual,"30,000 kms",First Owner,ahmedabad,4 Lakh*
136,2016Maruti Ciaz RS ZDi Plus SHVS,2016Maruti Ciaz RS ZDi Plus SHVS,2016Maruti Ciaz RS ZDi Plus SHVS,2016,Diesel,Manual,"30,000 kms",First Owner,ahmedabad,8.5 Lakh*
137,2015Honda Jazz 1.5 S i DTEC,2015Honda Jazz 1.5 S i DTEC,2015Honda Jazz 1.5 S i DTEC,2015,Diesel,Manual,"59,000 kms",First Owner,ahmedabad,4.95 Lakh*
138,2012Hyundai Verna 1.6 CRDi EX MT,2012Hyundai Verna 1.6 CRDi EX MT,2012Hyundai Verna 1.6 CRDi EX MT,2012,Diesel,Manual,"68,000 kms",Second Owner,ahmedabad,4 Lakh*
139,2013Maruti Swift Dzire VDI,2013Maruti Swift Dzire VDI,2013Maruti Swift Dzire VDI,2013,Diesel,Manual,"60,000 kms",Second Owner,ahmedabad,4 Lakh*

In [36]:
df.to_csv("ahmed.csv")

In [37]:
# car search for bangalore
driver.get(driver.find_element_by_xpath("//nav[@class='gsc_col-sm-12 gsc_col-md-12']/ul/li[2]/ul/li/ul/li[2]/a").get_attribute("href"))

In [38]:
for i in range(600):
    driver.execute_script("window.scrollBy(0,80)")
    time.sleep(1)

In [39]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a"):
    urls.append(i.get_attribute("href"))
len(urls)

198

In [40]:
brand=[]
model=[]
variant=[]
year=[]
fuel=[]
transmission=[]
km=[]
owners=[]
location=[]
price=[]

In [41]:
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        brand.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/h1").text)
    except NoSuchElementException:
        brand.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except:
        brand.append('-')
    try:
        model.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/h1").text)
    except NoSuchElementException:
        model.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except:
        model.append('-')
    try:
        variant.append(driver.find_element_by_xpath("//div[@class='variant-name']").text)
    except NoSuchElementException:
        variant.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except:
        variant.append('-')
    try:
        year.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[1]/div/div[2]").text)
    except NoSuchElementException:
        year.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[1]").text)
    except:
        year.append('-')
    try:
        fuel.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[3]/div/div[2]").text)
    except NoSuchElementException:
        fuel.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[5]").text)
    except:
        fuel.append('-')
    try:
        transmission.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[8]/div/div[2]").text)
    except NoSuchElementException:
        transmission.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[6]").text)
    except:
        transmission.append('-')
    try:
        km.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[4]/div/div[2]").text)
    except NoSuchElementException:
        km.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[3]").text)
    except:
        km.append('-')
    try:
        owners.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[6]/div/div[2]").text)
    except NoSuchElementException:
        owners.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[4]").text)
    except:
        owners.append('-')
        
    location.append("bangalore")
    try:
        price.append(driver.find_element_by_xpath("//div[@class='priceSection']").text)
    except NoSuchElementException:
        price.append(driver.find_element_by_xpath("//span[@class='amount']").text)
    except:
        price.append('-')

In [42]:
df=pd.DataFrame({})
df['Brand']=brand
df['model']=model
df['variant']=variant
df['year']=year
df['fuel']=fuel
df['transmission']=transmission
df['km driven']=km
df['No of owners']=owners
df['location']=location
df['price']=price
df

,Brand,model,variant,year,fuel,transmission,km driven,No of owners,location,price
0,2016 Renault KWID,2016 Renault KWID,RXT BSIV,2016,Petrol,Manual,"20,385 Kms",1st Owner,ahmedabad,"₹ 3,26,308"
1,2019 Hyundai i20,2019 Hyundai i20,Magna Plus BSIV,2019,Petrol,Manual,"25,972 Kms",1st Owner,ahmedabad,"₹ 6,60,000"
2,2017 Hyundai Grand i10,2017 Hyundai Grand i10,Magna,2017,Petrol,Manual,"5,649 Kms",1st Owner,ahmedabad,"₹ 4,90,500"
3,2014 Nissan Terrano,2014 Nissan Terrano,XV Premium 110 PS,2014,Diesel,Manual,"33,130 Kms",1st Owner,ahmedabad,"₹ 6,37,000"
4,2016 Hyundai Grand i10,2016 Hyundai Grand i10,1.2 Kappa Magna AT,2016,Petrol,Automatic,"19,255 Kms",2nd Owner,ahmedabad,"₹ 5,21,500"
...,...,...,...,...,...,...,...,...,...,...
193,2016Maruti Ertiga SHVS ZDI,2016Maruti Ertiga SHVS ZDI,2016Maruti Ertiga SHVS ZDI,2016,Diesel,Manual,"94,500 kms",First Owner,ahmedabad,9.25 Lakh*
194,2014Hyundai EON 1.0 Kappa Magna Plus,2014Hyundai EON 1.0 Kappa Magna Plus,2014Hyundai EON 1.0 Kappa Magna Plus,2014,Petrol,Manual,"35,000 kms",Third Owner,ahmedabad,2.75 Lakh*
195,2011Ford Figo Diesel Titanium,2011Ford Figo Diesel Titanium,2011Ford Figo Diesel Titanium,2011,Diesel,Manual,"90,000 kms",First Owner,ahmedabad,2.83 Lakh*
196,2017Maruti Baleno Zeta Automatic,2017Maruti Baleno Zeta Automatic,2017Maruti Baleno Zeta Automatic,2017,Petrol,Automatic,"46,000 kms",Second Owner,ahmedabad,7.75 Lakh*
197,2019Honda Amaze V Petrol,2019Honda Amaze V Petrol,2019Honda Amaze V Petrol,2019,Petrol,Manual,"20,934 kms",First Owner,ahmedabad,8.1 Lakh*

In [43]:
df.to_csv("bangalore.csv")

In [7]:
# car search for chennai
driver.get(driver.find_element_by_xpath("//nav[@class='gsc_col-sm-12 gsc_col-md-12']/ul/li[2]/ul/li/ul/li[3]/a").get_attribute("href"))

In [8]:
for i in range(500):
    driver.execute_script("window.scrollBy(0,80)")
    time.sleep(1)

In [9]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a"):
    urls.append(i.get_attribute("href"))
len(urls)

318

In [10]:
brand=[]
model=[]
variant=[]
year=[]
fuel=[]
transmission=[]
km=[]
owners=[]
location=[]
price=[]


for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        brand.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/h1").text)
    except NoSuchElementException:
        brand.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except:
        brand.append('-')
    try:
        model.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/h1").text)
    except NoSuchElementException:
        model.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except:
        model.append('-')
    try:
        variant.append(driver.find_element_by_xpath("//div[@class='variant-name']").text)
    except NoSuchElementException:
        variant.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except:
        variant.append('-')
    try:
        year.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[1]/div/div[2]").text)
    except NoSuchElementException:
        year.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[1]").text)
    except:
        year.append('-')
    try:
        fuel.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[3]/div/div[2]").text)
    except NoSuchElementException:
        fuel.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[5]").text)
    except:
        fuel.append('-')
    try:
        transmission.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[8]/div/div[2]").text)
    except NoSuchElementException:
        transmission.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[6]").text)
    except:
        transmission.append('-')
    try:
        km.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[4]/div/div[2]").text)
    except NoSuchElementException:
        km.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[3]").text)
    except:
        km.append('-')
    try:
        owners.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[6]/div/div[2]").text)
    except NoSuchElementException:
        owners.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[4]").text)
    except:
        owners.append('-')
        
    location.append("chennai")
    try:
        price.append(driver.find_element_by_xpath("//div[@class='priceSection']").text)
    except NoSuchElementException:
        price.append(driver.find_element_by_xpath("//span[@class='amount']").text)
    except:
        price.append('-')

In [11]:
df=pd.DataFrame({})
df['Brand']=brand
df['model']=model
df['variant']=variant
df['year']=year
df['fuel']=fuel
df['transmission']=transmission
df['km driven']=km
df['No of owners']=owners
df['location']=location
df['price']=price
df

,Brand,model,variant,year,fuel,transmission,km driven,No of owners,location,price
0,2012Hyundai i10 Sportz AT,2012Hyundai i10 Sportz AT,2012Hyundai i10 Sportz AT,2012,Petrol,Automatic,"37,000 kms",First Owner,chennai,4 Lakh*
1,2012Chevrolet Beat Diesel LS,2012Chevrolet Beat Diesel LS,2012Chevrolet Beat Diesel LS,2012,Diesel,Manual,"81,000 kms",First Owner,chennai,2.1 Lakh*
2,2014Toyota Innova 2.5 G (Diesel) 8 Seater,2014Toyota Innova 2.5 G (Diesel) 8 Seater,2014Toyota Innova 2.5 G (Diesel) 8 Seater,2014,Diesel,Manual,"69,000 kms",First Owner,chennai,11.99 Lakh*
3,2017Maruti Ciaz ZDi,2017Maruti Ciaz ZDi,2017Maruti Ciaz ZDi,2017,Diesel,Manual,"89,568 kms",First Owner,chennai,8 Lakh*
4,2013Chevrolet Cruze LTZ AT,2013Chevrolet Cruze LTZ AT,2013Chevrolet Cruze LTZ AT,2013,Diesel,Automatic,"70,000 kms",First Owner,chennai,5.24 Lakh*
...,...,...,...,...,...,...,...,...,...,...
313,2016Mahindra XUV500 W10 AWD,2016Mahindra XUV500 W10 AWD,2016Mahindra XUV500 W10 AWD,2016,Diesel,Manual,"85,001 kms",Second Owner,chennai,11.5 Lakh*
314,2014Porsche Cayenne Diesel,2014Porsche Cayenne Diesel,2014Porsche Cayenne Diesel,2014,Diesel,Automatic,"95,000 kms",First Owner,chennai,45 Lakh*
315,2011Hyundai i10 Asta,2011Hyundai i10 Asta,2011Hyundai i10 Asta,2011,Petrol,Manual,"40,000 kms",Second Owner,chennai,2.8 Lakh*
316,2017Maruti Baleno Zeta Automatic,2017Maruti Baleno Zeta Automatic,2017Maruti Baleno Zeta Automatic,2017,Petrol,Automatic,"60,000 kms",Second Owner,chennai,5.5 Lakh*
317,2016Hyundai i20 1.4 CRDi Asta,2016Hyundai i20 1.4 CRDi Asta,2016Hyundai i20 1.4 CRDi Asta,2016,Diesel,Manual,"64,112 kms",First Owner,chennai,6.5 Lakh*

In [12]:
df.to_csv("chennai.csv")

In [28]:
# car search for kolkata
driver.get(driver.find_element_by_xpath("//nav[@class='gsc_col-sm-12 gsc_col-md-12']/ul/li[2]/ul/li/ul/li[7]/a").get_attribute("href"))

In [31]:
for i in range(500):
    driver.execute_script("window.scrollBy(0,80)")
    time.sleep(1)

In [42]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a"):
    urls.append(i.get_attribute("href"))
len(urls)

440

In [46]:
brand=[]
model=[]
variant=[]
year=[]
fuel=[]
transmission=[]
km=[]
owners=[]
location=[]
price=[]


for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        brand.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/h1").text)
    except NoSuchElementException:
        brand.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except:
        brand.append('-')
    try:
        model.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/h1").text)
    except NoSuchElementException:
        model.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except:
        model.append('-')
    try:
        variant.append(driver.find_element_by_xpath("//div[@class='variant-name']").text)
    except NoSuchElementException:
        variant.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except :
        variant.append('-')
    try:
        year.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[1]/div/div[2]").text)
    except NoSuchElementException:
        year.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[1]").text)
    except :
        year.append('-')
    try:
        fuel.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[3]/div/div[2]").text)
    except NoSuchElementException:
        fuel.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[5]").text)
    except :
        fuel.append('-')
    try:
        transmission.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[8]/div/div[2]").text)
    except NoSuchElementException :
        transmission.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[6]").text)
    except:
        transmission.append('-')
    try:
        km.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[4]/div/div[2]").text)
    except NoSuchElementException:
        km.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[3]").text)
    except:
        km.append('-')
    try:
        owners.append(driver.find_element_by_xpath("//div[@class='gsc_col-xs-12']/ul/li[6]/div/div[2]").text)
    except NoSuchElementException:
        owners.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[4]").text)
    except:
        owners.append('-')
        
    location.append("kolkata")
    try:
        price.append(driver.find_element_by_xpath("//div[@class='priceSection']").text)
    except NoSuchElementException:
        price.append(driver.find_element_by_xpath("//span[@class='amount']").text)
    except:
        price.append('-')

In [47]:
df=pd.DataFrame({})
df['Brand']=brand
df['model']=model
df['variant']=variant
df['year']=year
df['fuel']=fuel
df['transmission']=transmission
df['km driven']=km
df['No of owners']=owners
df['location']=location
df['price']=price
df

,Brand,model,variant,year,fuel,transmission,km driven,No of owners,location,price
0,2014Audi Q3 2.0 TDI,2014Audi Q3 2.0 TDI,2014Audi Q3 2.0 TDI,2014,Diesel,Automatic,"54,000 kms",First Owner,kolkata,14.25 Lakh*
1,2008Honda City 2017-2020 GXi,2008Honda City 2017-2020 GXi,2008Honda City 2017-2020 GXi,2008,Petrol,Manual,"46,261 kms",First Owner,kolkata,2.1 Lakh*
2,2017Hyundai Creta 1.6 E,2017Hyundai Creta 1.6 E,2017Hyundai Creta 1.6 E,2017,Petrol,Manual,"33,500 kms",First Owner,kolkata,7.75 Lakh*
3,2014Volkswagen Vento 2013-2015 1.6 Comfortline,2014Volkswagen Vento 2013-2015 1.6 Comfortline,2014Volkswagen Vento 2013-2015 1.6 Comfortline,2014,Petrol,Manual,"37,207 kms",First Owner,kolkata,4.25 Lakh*
4,2015Volkswagen Vento 1.5 TDI Highline AT,2015Volkswagen Vento 1.5 TDI Highline AT,2015Volkswagen Vento 1.5 TDI Highline AT,2015,Diesel,Automatic,"42,000 kms",First Owner,kolkata,5.65 Lakh*
...,...,...,...,...,...,...,...,...,...,...
435,2016Maruti Ertiga SHVS VDI Limited Edition,2016Maruti Ertiga SHVS VDI Limited Edition,2016Maruti Ertiga SHVS VDI Limited Edition,2016,Diesel,Manual,"63,000 kms",First Owner,kolkata,7.3 Lakh*
436,2012Volkswagen Polo Diesel Comfortline 1.2L,2012Volkswagen Polo Diesel Comfortline 1.2L,2012Volkswagen Polo Diesel Comfortline 1.2L,2012,Diesel,Manual,"59,000 kms",First Owner,kolkata,3.24 Lakh*
437,2011Nissan Micra XL,2011Nissan Micra XL,2011Nissan Micra XL,2011,Petrol,Manual,"30,000 kms",First Owner,kolkata,1.5 Lakh*
438,2011Hyundai Santro Xing GLS,2011Hyundai Santro Xing GLS,2011Hyundai Santro Xing GLS,2011,Petrol,Manual,"57,204 kms",First Owner,kolkata,1.15 Lakh*
439,2016Nissan Terrano XL,2016Nissan Terrano XL,2016Nissan Terrano XL,2016,Petrol,Manual,"8,000 kms",First Owner,kolkata,5.75 Lakh*

In [48]:
df.to_csv("kolkata.csv")

In [7]:
# car search for pune
driver.get(driver.find_element_by_xpath("//nav[@class='gsc_col-sm-12 gsc_col-md-12']/ul/li[2]/ul/li/ul/li[9]/a").get_attribute("href"))

In [8]:
for i in range(500):
    driver.execute_script("window.scrollBy(0,80)")
    time.sleep(1)

In [37]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a"):
    urls.append(i.get_attribute("href"))

In [10]:
brand=[]
model=[]
variant=[]
year=[]
fuel=[]
transmission=[]
km=[]
owners=[]
location=[]
price=[]


for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        brand.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except NoSuchElementException:
        brand.append('-')
    try:
        model.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except NoSuchElementException:
        model.append('-')
    try:
        variant.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except NoSuchElementException:
        variant.append('-')
    try:
        year.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[1]").text)
    except NoSuchElementException:
        year.append('-')
    try:
        fuel.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[5]").text)
    except NoSuchElementException:
        fuel.append('-')
    try:
        transmission.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[6]").text)
    except NoSuchElementException:
        transmission.append('-')
    try:
        km.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[3]").text)
    except NoSuchElementException:
        km.append('-')
    try:
        owners.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[4]").text)
    except NoSuchElementException:
        owners.append('-')
        
    location.append("pune")
    try:
        price.append(driver.find_element_by_xpath("//span[@class='amount']").text)
    except NoSuchElementException:
        price.append('-')

In [11]:
df=pd.DataFrame({})
df['Brand']=brand
df['model']=model
df['variant']=variant
df['year']=year
df['fuel']=fuel
df['transmission']=transmission
df['km driven']=km
df['No of owners']=owners
df['location']=location
df['price']=price
df

,Brand,model,variant,year,fuel,transmission,km driven,No of owners,location,price
0,-,-,-,-,-,-,-,-,pune,-
1,-,-,-,-,-,-,-,-,pune,-
2,-,-,-,-,-,-,-,-,pune,-
3,-,-,-,-,-,-,-,-,pune,-
4,-,-,-,-,-,-,-,-,pune,-
...,...,...,...,...,...,...,...,...,...,...
325,2015Maruti SX4 S Cross DDiS 200 Sigma,2015Maruti SX4 S Cross DDiS 200 Sigma,2015Maruti SX4 S Cross DDiS 200 Sigma,2015,Diesel,Manual,"1,20,000 kms",First Owner,pune,6 Lakh*
326,2019Maruti S-Presso VXI,2019Maruti S-Presso VXI,2019Maruti S-Presso VXI,2019,Petrol,Manual,"10,000 kms",First Owner,pune,5.2 Lakh*
327,2017Mahindra XUV500 AT W8 1.99 mHawk,2017Mahindra XUV500 AT W8 1.99 mHawk,2017Mahindra XUV500 AT W8 1.99 mHawk,2017,Diesel,Automatic,"40,000 kms",First Owner,pune,12.4 Lakh*
328,2017Maruti Wagon R VXI,2017Maruti Wagon R VXI,2017Maruti Wagon R VXI,2017,Petrol,Manual,"43,000 kms",First Owner,pune,4.5 Lakh*
329,2013Ford Ecosport 1.5 DV5 MT Trend,2013Ford Ecosport 1.5 DV5 MT Trend,2013Ford Ecosport 1.5 DV5 MT Trend,2013,Diesel,Manual,"63,293 kms",First Owner,pune,5.65 Lakh*

In [12]:
df.to_csv("pune.csv")

In [13]:
# car search for hyderabad
driver.get(driver.find_element_by_xpath("//nav[@class='gsc_col-sm-12 gsc_col-md-12']/ul/li[2]/ul/li/ul/li[5]/a").get_attribute("href"))

In [14]:
for i in range(800):
    driver.execute_script("window.scrollBy(0,80)")
    time.sleep(1)

In [15]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a"):
    urls.append(i.get_attribute("href"))
len(urls)

1232

In [16]:
brand=[]
model=[]
variant=[]
year=[]
fuel=[]
transmission=[]
km=[]
owners=[]
location=[]
price=[]


for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        brand.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except NoSuchElementException:
        brand.append('-')
    try:
        model.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except NoSuchElementException:
        model.append('-')
    try:
        variant.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except NoSuchElementException:
        variant.append('-')
    try:
        year.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[1]").text)
    except NoSuchElementException:
        year.append('-')
    try:
        fuel.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[5]").text)
    except NoSuchElementException:
        fuel.append('-')
    try:
        transmission.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[6]").text)
    except NoSuchElementException:
        transmission.append('-')
    try:
        km.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[3]").text)
    except NoSuchElementException:
        km.append('-')
    try:
        owners.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[4]").text)
    except NoSuchElementException:
        owners.append('-')
        
    location.append("hyderabad")
    try:
        price.append(driver.find_element_by_xpath("//span[@class='amount']").text)
    except NoSuchElementException:
        price.append('-')

In [17]:
df=pd.DataFrame({})
df['Brand']=brand
df['model']=model
df['variant']=variant
df['year']=year
df['fuel']=fuel
df['transmission']=transmission
df['km driven']=km
df['No of owners']=owners
df['location']=location
df['price']=price
df

,Brand,model,variant,year,fuel,transmission,km driven,No of owners,location,price
0,-,-,-,-,-,-,-,-,hyderabad,-
1,-,-,-,-,-,-,-,-,hyderabad,-
2,-,-,-,-,-,-,-,-,hyderabad,-
3,-,-,-,-,-,-,-,-,hyderabad,-
4,-,-,-,-,-,-,-,-,hyderabad,-
...,...,...,...,...,...,...,...,...,...,...
1227,-,-,-,-,-,-,-,-,hyderabad,-
1228,2019Honda BRV i-DTEC VX MT,2019Honda BRV i-DTEC VX MT,2019Honda BRV i-DTEC VX MT,2019,Diesel,Manual,"47,000 kms",First Owner,hyderabad,11.5 Lakh*
1229,2017Mahindra Scorpio 1.99 S10,2017Mahindra Scorpio 1.99 S10,2017Mahindra Scorpio 1.99 S10,2017,Diesel,Manual,"42,361 kms",First Owner,hyderabad,13.5 Lakh*
1230,2011Fiat Grande Punto 1.3 Emotion (Diesel),2011Fiat Grande Punto 1.3 Emotion (Diesel),2011Fiat Grande Punto 1.3 Emotion (Diesel),2011,Diesel,Manual,"90,000 kms",First Owner,hyderabad,1.85 Lakh*
1231,-,-,-,-,-,-,-,-,hyderabad,-

In [18]:
df.to_csv("hyderabad.csv")

In [20]:
# car search for delhi
driver.get(driver.find_element_by_xpath("//nav[@class='gsc_col-sm-12 gsc_col-md-12']/ul/li[2]/ul/li/ul/li[4]/a").get_attribute("href"))

In [21]:
for i in range(900):
    driver.execute_script("window.scrollBy(0,80)")
    time.sleep(1)

In [24]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a"):
    urls.append(i.get_attribute("href"))
len(urls)

1960

In [25]:
brand=[]
model=[]
variant=[]
year=[]
fuel=[]
transmission=[]
km=[]
owners=[]
location=[]
price=[]


for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        brand.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except NoSuchElementException:
        brand.append('-')
    try:
        model.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except NoSuchElementException:
        model.append('-')
    try:
        variant.append(driver.find_element_by_xpath("//div[@class='vdp-head']").text)
    except NoSuchElementException:
        variant.append('-')
    try:
        year.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[1]").text)
    except NoSuchElementException:
        year.append('-')
    try:
        fuel.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[5]").text)
    except NoSuchElementException:
        fuel.append('-')
    try:
        transmission.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[6]").text)
    except NoSuchElementException:
        transmission.append('-')
    try:
        km.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[3]").text)
    except NoSuchElementException:
        km.append('-')
    try:
        owners.append(driver.find_element_by_xpath("//ul[@class='gsc_row clearfix']/li[4]").text)
    except NoSuchElementException:
        owners.append('-')
        
    location.append("delhi")
    try:
        price.append(driver.find_element_by_xpath("//span[@class='amount']").text)
    except NoSuchElementException:
        price.append('-')

In [26]:
df=pd.DataFrame({})
df['Brand']=brand
df['model']=model
df['variant']=variant
df['year']=year
df['fuel']=fuel
df['transmission']=transmission
df['km driven']=km
df['No of owners']=owners
df['location']=location
df['price']=price
df

,Brand,model,variant,year,fuel,transmission,km driven,No of owners,location,price
0,-,-,-,-,-,-,-,-,delhi,-
1,-,-,-,-,-,-,-,-,delhi,-
2,-,-,-,-,-,-,-,-,delhi,-
3,-,-,-,-,-,-,-,-,delhi,-
4,-,-,-,-,-,-,-,-,delhi,-
...,...,...,...,...,...,...,...,...,...,...
1955,2019Kia Seltos HTX Plus D,2019Kia Seltos HTX Plus D,2019Kia Seltos HTX Plus D,2019,Diesel,Manual,"25,000 kms",First Owner,delhi,16.75 Lakh*
1956,2014Audi Q3 2.0 TDI Quattro Premium Plus,2014Audi Q3 2.0 TDI Quattro Premium Plus,2014Audi Q3 2.0 TDI Quattro Premium Plus,2014,Diesel,Automatic,"49,000 kms",First Owner,delhi,15.25 Lakh*
1957,2018Ford Figo 1.2P Titanium MT,2018Ford Figo 1.2P Titanium MT,2018Ford Figo 1.2P Titanium MT,2018,Petrol,Manual,"27,001 kms",First Owner,delhi,4.9 Lakh*
1958,2013Maruti Swift Dzire VXI,2013Maruti Swift Dzire VXI,2013Maruti Swift Dzire VXI,2013,Petrol,Manual,"10,000 kms",Second Owner,delhi,4.01 Lakh*
1959,2013Maruti Swift VXI,2013Maruti Swift VXI,2013Maruti Swift VXI,2013,Petrol,Manual,"52,000 kms",First Owner,delhi,3.65 Lakh*

In [27]:
df.to_csv("delhi.csv")

In [4]:
import pandas as pd
df1=pd.read_csv("olx.csv")
df2=pd.read_csv("ahmed.csv")
df3=pd.read_csv("chennai.csv")
df4=pd.read_csv("hyderabad.csv")
df5=pd.read_csv("pune.csv")
df6=pd.read_csv("bangalore.csv")
df7=pd.read_csv("delhi.csv")
df8=pd.read_csv("kolkata.csv")

In [6]:
df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8],axis=0)
df

,Unnamed: 0,Brand,model,variant,year,fuel,transmission,km driven,No of owners,location,price
0,0,BMW,5 Series,523i,2010,Petrol,Automatic,"69,000 km",2nd,"Thane West, Thane, Maharashtra","₹ 10,25,000"
1,1,Hyundai,Elite i20,Asta 1.2,2016,Petrol,Manual,"27,884 km",-,"Baner Road, Pune, Maharashtra","₹ 6,40,000"
2,2,Renault,KWID,RXL,2016,Petrol,Manual,"21,000 km",1st,"Thillai Nagar, Tiruchirappalli, Tamil Nadu","₹ 3,00,000"
3,3,Maruti Suzuki,Wagon R 1.0,1.0 LXi,2014,Petrol,Manual,"8,350 km",1st,"Govind Nagar, Nashik, Maharashtra","₹ 3,80,000"
4,4,Mercedes-Benz,B Class,B180 Sport,2014,Petrol,Automatic,"35,000 km",2nd,"Adajan, Surat, Gujarat","₹ 12,50,000"
...,...,...,...,...,...,...,...,...,...,...,...
435,435,2016Maruti Ertiga SHVS VDI Limited Edition,2016Maruti Ertiga SHVS VDI Limited Edition,2016Maruti Ertiga SHVS VDI Limited Edition,2016,Diesel,Manual,"63,000 kms",First Owner,kolkata,7.3 Lakh*
436,436,2012Volkswagen Polo Diesel Comfortline 1.2L,2012Volkswagen Polo Diesel Comfortline 1.2L,2012Volkswagen Polo Diesel Comfortline 1.2L,2012,Diesel,Manual,"59,000 kms",First Owner,kolkata,3.24 Lakh*
437,437,2011Nissan Micra XL,2011Nissan Micra XL,2011Nissan Micra XL,2011,Petrol,Manual,"30,000 kms",First Owner,kolkata,1.5 Lakh*
438,438,2011Hyundai Santro Xing GLS,2011Hyundai Santro Xing GLS,2011Hyundai Santro Xing GLS,2011,Petrol,Manual,"57,204 kms",First Owner,kolkata,1.15 Lakh*
439,439,2016Nissan Terrano XL,2016Nissan Terrano XL,2016Nissan Terrano XL,2016,Petrol,Manual,"8,000 kms",First Owner,kolkata,5.75 Lakh*

In [7]:
df.to_csv("car.csv")